<launch>
<!-- rsStartToEndDistance -->
   <!-- find_nearest_goal_in_lane()中，搜索规划终点的范围。要根据op矢量全局轨迹画得离停车位的远近，调整这里的阈值，使得第一段a*有一个不错的终点 -->
   <arg name="max_dist_to_lane_driving_goal"  default="12" />
   <arg name="min_dist_to_lane_driving_goal"  default="6" />
   <arg name="velocitySource" default="1"/>
   <arg name="enableCover" default="true"/>

   <node pkg="rm_custom_area" type="rm_custom_area" name="rm_custom_area" output="screen">
   </node>

</launch>