<!-- -->
<launch>
  <arg name="input_topics" default="[/points_alpha, /points_beta]" />
  <arg name="output_topic" default="/points_concat" />
  <arg name="output_frame_id" default="velodyne" />
  <arg name="need_sample" default="false" />

  <node pkg="points_preprocessor" type="points_concat_filter"
        name="points_concat_filter" output="screen">
    <param name="output_frame_id" value="$(arg output_frame_id)" />
    <param name="input_topics" value="$(arg input_topics)" />
    <param name="need_sample" value="$(arg need_sample)" />
    <remap from="/points_concat" to="$(arg output_topic)" />
  </node>
</launch>
