<launch>
  <!-- Behavior selector specific parameters -->
  
  <arg name="evidence_tust_number"   default="25"/>
  <arg name="pose_match_threshold" default = "25"/>  <!-- 25 -->
      
  <node pkg="op_local_planner" type="op_behavior_selector" name="op_behavior_selector" output="screen">
  
  <param name="evidence_tust_number"   value="$(arg evidence_tust_number)"/>    
  <param name = "pose_match_threshold" value = "$(arg pose_match_threshold)"/>    
      
  </node>        
      
</launch>